
  <%= form_for :tag do |f| %>
      <div class="form-group">

        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-tag"></i></span>

          <%= f.text_field :name, class: 'form-control' %>
        </div>
      </div>
      <%= f.submit "Uccu!", class: 'btn btn-default' %>

  <% end %>